{
  "_comment": "This file defines the order in which exhibition channels are processed and uploaded. Reorder the 'channels' array to change the upload sequence.",
  "channels": [
    "social-codes-pcl",
    "the-bardo-unpacking-the-real-a2j",
    "fragments-of-a-hologram-rose-liz",
    "the-long-cut-bqv",
    "instructions-follow-f1c",
    "p1x3l-n36",
    "reflections-in-the-water-9ov",
    "unsupervised-sla",
    "graph-eg6",
    "for-your-eyes-only-qpg",
    "field-guide-sss",
    "primordium-i8m",
    "infinite-entropy-xhj",
    "ten-whistlegraphs-thv",
    "on-screen-presence-kpb",
    "wetware-tkl",
    "gamma-mev",
    "harbingers-vgb",
    "ecotone-swo",
    "doppelganger-jgz",
    "peer-to-peer-pjb",
    "simulation-sketchbook-works-in-process-ayk",
    "gray-matter-dn1",
    "boom-town-frt",
    "i-know-on-the-aesthetic-of-truth-lqe",
    "material-wonderland-ufx",
    "leemullican-pcx-ff8",
    "feralverse-1qa",
    "bloomcore-wqy",
    "in-visible-419",
    "colors-of-noise-gwo",
    "n-12-2ts",
    "the-experiment-6jy",
    "in-medias-res-u9p",
    "truth-gkx",
    "graph-8vs",
    "sound-machines-xz1",
    "one-to-zero-bti",
    "crystalline-work-5ze",
    "crawl-yzx",
    "liu-renopatan-patterns-of-flow-nhk",
    "e-volved-formulae-8an",
    "net-evil-das",
    "console-spirituality-m6j",
    "star-quest-adm",
    "ex-nihilo-a3c"
  ]
}